$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 50px;
    padding-top: 50px;
}

/*
 * Global add-ons
 */
a {
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

.animation-fade {
    opacity: 0;
}

.animation-faded {
    opacity: 1;
}

.animation-faded {
    -webkit-transition: opacity 1s linear 0.2s;
    -moz-transition: opacity 1s linear 0.2s;
    -o-transition: opacity 1s linear 0.2s;
    transition: opacity 1s linear 0.2s;
}

@import "../scripts/modules/core/styles/style";
@import "../scripts/modules/about/styles/style";