<section data-ng-controller="HomeController" id="home">
  <div class="container-fluid">
    <span data-ng-click="hideshowsidebar()" class="hidden-xs hide-side-bar glyphicon glyphicon-circle-arrow-left"></span>
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <div class="logo">
          <a ui-sref="/"><h1>Bob Peterson</h1></a>
          <p>photographer</P>
        </div>
        <!-- <a data-ng-click="about()" class="about"><h4>About</h4></a>
        <div class="row">&nbsp;</div> -->

        <div class="row">&nbsp;</div>
        <ul class="nav nav-sidebar">

            <li ng-repeat="item in homeModel.categoryies.category">
              <a data-ng-click="selectACategory($index)" ng-class="{active: $index=== homeModel.curCatNum}">{{item.categoryName}}</a>
            </li>

          <div class="row">&nbsp;</div>
          <div class="row">&nbsp;</div>
          <div class="contact">
            <a href="mailto:bobpet@comcast.net">
              Contact Bob Peterson
            </a>
            <br>
            <small class="agent">Represented by Frank Meo
              <br>212.643.7428</small>
          </div>
        </ul>

        <div class="social">
          <a ui-sref="about">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>
          <a ui-sref="about">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="rightside col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <div class="mainImageHolder">
          <a data-ng-click="getNextImage()">
            <img id="img1" data-vertcenter data-img-error data-ng-src="//bobpeterson.com/photographer/{{homeModel.selectedImage}}" class="center-block photo imageBig img-responsive animation-fade" data-hereoimageloaded="animation-faded">
          </a>
        </div>
        <div class="spinner"></div>
        <a class="left carousel-control" role="button" data-ng-click="getPrevImage()">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" role="button" data-ng-click="getNextImage()">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

        <div data-thumbscroller id="my-thumbs-list" class="center-block">
          <ul class="center-block list-unstyled">
            <li ng-repeat="item in homeModel.images" class='pull-left'>
              <a data-ng-click="selectImage($index)">
                <img img-error data-ng-src="//bobpeterson.com/photographer/{{item.imagethumb}}" class="animation-fade photo center-block" data-imageloaded="animation-faded">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
