<section data-ng-controller="AboutController" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <div class="logo">
          <h1>Bob Peterson</h1>
          <p>PHOTOGRAPHER</P>
        </div>
        <div class="row">&nbsp;</div>
        <ul class="nav nav-sidebar">
          <div ng-repeat="item in homeModel.categoryies.category">
            <li><a data-ng-click="selectACategory($index)" ng-class="{active: $index=== homeModel.curCatNum}">{{item.categoryName}}</a>
            </li>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">&nbsp;</div>
          <div class="contact">
            <a href="mailto:bobpet@comcast.net">
              <small>Contact Bob Peterson </small>
            </a>
            <br>
            <small class="agent">Represented by Frank Meo
              <br>212.643.7428</small>
          </div>
        </ul>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="social">
          <a href="#" target="_blank">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>

          <a href="#" target="_blank">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="rightside col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <h1>About:</h1>
        <p>This is where stuff would go</p>
      </div>
    </div>
  </div>
</section>
