<div data-overlay content="image" class='post-item hideMe'>
    <a ng-click="launch('/scripts/modules/core/tpl/overlay.html')" ng-class="{'item': image.username !== 'cole', 'itemlg': image.username === 'cole'}">
        <img img-error ng-src="{{image.image_thumbnail}}">
    </a>
    <div class='winnerBg' ng-class="{'hidden': image.winner === '0'}">
        <strong>daily winner</strong>
    </div>

    <div class='judgeBg' ng-class="{'hidden': image.username !== 'cole'}">
        <img img-error ng-src="{{image.image_profile}}" />
        <div class="proDeets">
            <strong>pro photographer</strong>
            <h2>
                <strong class='username'>
                    <em>{{image.fullname}}</em>
                </strong>
            </h2>
        </div>
    </div>

    <div class="info hidden-xs" ng-class="{'hidden': image.username === 'cole'}">
        <div class='stats'>
            <span>{{image.likes}}</span>
            <a ng-click="likeit()">
                <span class="glyphicon glyphicon-heart"></span>
            </a>
        </div>
    </div>

</div>
