#about{
	.rightside{
		//background-color: white;
		color:#272727;
		//margin-top:60px;
		color:#ccc;
	}
	//font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#my-video{
	width:500px;
	height:300px;
}
