/**
 * bootstrap
 * import all all the bootstrap stuff u need here. exclude the stuff you do not need.
 * NOTE the path to the bootstrap assets is relative to the dynaimacally generated style/built/build.scss css file. (not this file).
 */
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// Core variables and mixins
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/normalize";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/print";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/scaffolding";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/type";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/code";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/grid";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/tables";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/forms";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/buttons";

// Components
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/component-animations";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/dropdowns";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/button-groups";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/input-groups";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/navs";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/navbar";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/breadcrumbs";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/pagination";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/pager";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/labels";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/badges";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/jumbotron";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/thumbnails";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/alerts";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/progress-bars";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/media";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/list-group";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/panels";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/responsive-embed";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/wells";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/modals";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/tooltip";
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/popovers";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/utilities";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/responsive-utilities";


/**
 * Global styles and bootstrap overrides.
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@mixin Hammersmith {
  font-family: 'Hammersmith One', sans-serif;
}
@mixin Roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin fut {
  font-family: 'PT Sans', sans-serif;
}

@mixin droid {
  font-family: 'Droid Serif', serif;
}

body {
    background-color: #191919;
    @include Roboto;
}

/*
 * Global add-ons
 */
a {
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

.animation-fade {
    opacity: 0;
}

.animation-faded {
    opacity: 1;
}

.animation-faded {
    -webkit-transition: opacity 1s linear 0.2s;
    -moz-transition: opacity 1s linear 0.2s;
    -o-transition: opacity 1s linear 0.2s;
    transition: opacity 1s linear 0.2s;
}

////////////
///loader
////////////

.spinner {
    height: 60px;
    width: 60px;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 0, 0, 0.15);
    border-right: 6px solid rgba(0, 0, 0, 0.15);
    border-bottom: 6px solid rgba(0, 0, 0, 0.15);
    border-top: 6px solid rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    position: absolute;
    left: 41%;
    top: 40%;
    transform: translate(-50%, -50%);
}

@media (min-width: 480px) {
    .spinner {
        left: 46%;
        top: 40%;
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}


@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#about{
	.rightside{
		background-color: white;
		color:#272727;
		//margin-top:60px;
		color:#ccc;
	}
	//font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.removeAll {
  width: 100% !important;
  margin: 0;
}
.hide-side-bar {
  left: 8px;
  top: 20px;
  color: #ccc;
  cursor: pointer;
  z-index: 99999;
}

///////////////////////
///Sidebar/
/////////////////////
// Hide for mobile, show later
.sidebar {
  display: none;
  z-index: 98;
  border-right: 1px solid black;
  .logo {
    color: #191919;
    @include Roboto;
    padding-top: 11px;
  }
  h1 {
    margin-bottom: 0;
    font-size: 26px;
    color: #191919;
  }
  p {
    font-size: 14px;
    letter-spacing: 1px;
    color: #191919;
  }
  .contact {
    .agent {
      color: #999;
    }
  }
  .social {
    a {
      margin-right: 4px;
    }
  }
}
@media (min-width: 768px) {
  .sidebar {
    background-color: #444;
    bottom: 0;
    top: 0;
    position: fixed;
    left: 0;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  overflow: hidden;
  margin-right: -21px;
  margin-bottom: 20px;
  li {
    margin-bottom: 3px;
  }
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.sidebar > ul li a {
  color: #999;
  &.active {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
}

/////////////////////
///top menu/
/////////////////////
// #categories {
//   li {
//     margin-left:18px;
//   }
// }
// .navbar.transparent.navbar-inverse .navbar-inner {
//   border-width: 0;
//   -webkit-box-shadow: 0 0;
//   box-shadow: 0 0;
//   background-color: rgba(0, 0, 0, 0);
//   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
//   background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
//   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
//
// }
// .navbar-inner,
// .navbar-inverse {
//   background: transparent !important;
//   border-color: transparent !important;
// }
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

/////////////////////
///main image module.
/////////////////////
.mainImageHolder,
.btnHolder {
  position: relative;
}
.thumbMenu {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
img.photo {

  //background: white url(/images/ajax-loader.gif) center 20px no-repeat;
  border: 2px solid white !important;
  margin-right: 5px;
  &.imageBig {

    //min-width: 300px;
    //min-height: 200px;
    border: 5px solid white !important;
    margin: auto;
    border: 0;
    img {
      border: 5px solid white;
      min-width: 300px;
      min-height: 200px;
    }
  }
}

/////////////////////
///bottom menu thumb module
/////////////////////
#my-thumbs-list {
  overflow: auto;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  //background-color: #fff;
  padding: 8px;
  height: 104px;
  min-width: 300px;
}
.mTSButton {
  width: 36px !important;
  height: 42px !important;
  line-height: 42px !important;
  padding: 6px !important;

  // background-color: #000 !important;
}
.mTS-buttons-out .mTSButtonIcon {

  // fill: #fff !important;
}

/////////////////
///left and right arrows for main image.
/////////////////
.carousel-control {
  background: transparent !important;
  .glyphicon.glyphicon-chevron-left,
  .glyphicon.glyphicon-chevron-right {
    top: 44%;
  }
}
.rightside {
  bottom: 0;
  top: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  body > header {
    display: none !important;
  }
}

/*--- Navigation styles  ---*/
header {
  position: relative;
  z-index: 999999;
}
#site-nav .company-logo {
  padding-top: 0;
  padding-bottom: 15px;
  float: left;
  margin-bottom: 5px;
  margin-top: 15px;
}
#site-nav .company-logo img {
  text-align: left;
}
#site-nav .navbar-nav {
  display: block;
  float: none;
}
#site-nav .navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0;
}
#site-nav .nav > li > a {
  line-height: 1.6em;
  text-decoration: none;
  font-style: normal;
}
#site-nav .navbar-inverse .navbar-nav>li>a {
  color: #8f8e8e;
  font-weight: 400;
  font-size: 16px;
}
#site-nav .navbar-inverse .navbar-nav>li>a:hover {
  color: #022169;
  background-color: transparent;
}
#site-nav .navbar-inverse .navbar-nav>li>a:hover,
#site-nav .navbar-inverse .navbar-nav>li>a:focus,
#site-nav .navbar-inverse .navbar-nav>.open>a,
#site-nav .navbar-inverse .navbar-nav>.open>a:hover,
#site-nav .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: transparent;
  text-decoration: none;
  color: #022169;
}
#site-nav .navbar {
  margin-bottom: 0;
}
#site-nav {
  position: relative;
  border: 0;
  background-color: black;
  background-color: rgba(35, 35, 35, 1);
}
#site-nav .navbar.navbar-fixed-top {
  margin-top: 0;
  box-shadow: rgba(0, 0, 0, 1.0) 0 2px 2px;
}
#site-nav .navbar-nav > li {
  float: none;
  display: inline-block;
}
#site-nav .navbar-toggle {
  float: right;
  text-align: right;
  border: 0;
  margin-right: 0;

  // margin-top: 38px;
}
#site-nav .navbar-inverse .navbar-toggle:hover,
#site-nav .navbar-inverse .navbar-toggle:focus {
  background: none;
}
#site-nav .navbar-nav > li > .dropdown-menu {
  border-radius: 0;
}
#site-nav .dropdown-menu > li > a {
  text-align: left;
  font-size: 14px;
  line-height: 1.8em;
}
#site-nav .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #f2f2f2;
}
// #site-nav .company-logo {
//   text-align: left;
//   font-family: 'Yanone Kaffeesatz', sans-serif;
//   padding-bottom: 0;
//   margin-bottom: 0;
// }
#site-nav .company-logo a {
  color: #022169;
  font-size: 16px;
}
#site-nav .company-logo a:hover {
  text-decoration: none;
}
#site-nav .company-logo span {
  text-align: left;
  font-size: 32px;
  letter-spacing: 1px;
}
#site-nav .navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000;
}
/*--- Responsive Styles ---*/
@media (max-width: 767px) {
  #site-nav .navbar-nav {
    margin: 0;
  }
  #site-nav .navbar-nav {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #site-nav .navbar-nav > li {
    float: none;
    display: inline-block;

    //width: 100%;
  }
  #site-nav .navbar-collapse {
    padding: 0;
  }
  #site-nav .navbar-inverse .navbar-nav > li > a {

  }
  #site-nav .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    text-decoration: none;
  }
  #site-nav .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
  #site-nav .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #022169;
    text-decoration: none;
    background-color: #f2f2f2;
  }
  #site-nav .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #4b4b4b;
    background: none;
    text-decoration: none;
  }
  #site-nav .navbar-inverse .navbar-collapse,
  #site-nav .navbar-inverse .navbar-form {
    border: 0;
  }
  #site-nav .company-logo {
    padding-bottom: 25px;
  }
}
/* ==========================================================================
    CUSTOM
========================================================================== */
#site-nav,
#footer {

  // background-color: #022169;
}
#site-nav .company-logo {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 25%;
}
#site-nav .nav.navbar-nav {
  margin-top: 12px;
}
#site-nav .navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-weight: lighter;
}
#site-nav .navbar-inverse .navbar-nav > li > a:hover {
  color: #022169;
}
#site-nav .navbar-inverse .navbar-nav > li.link > a:hover,
#site-nav .navbar-inverse .navbar-nav > li.link > a:focus,
#site-nav .navbar-inverse .navbar-nav > .open > a,
#site-nav .navbar-inverse .navbar-nav > .open > a:hover,
#site-nav .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #022169;
  color: #fff;
}
#site-nav .company-logo img {
  width: 100%;
}
#site-nav .fa.fa-circle.fa-stack-2x {
  color: #fff;
}
#site-nav .insta a {
  padding-right: 5px !important;
}
#site-nav .linkedin a {
  padding-left: 5px !important;
  padding-right: 0 !important;
}
#site-nav .fa-inverse {
  color: #022169;
}
#site-nav .navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
}
#site-nav .nav.navbar-nav li a {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
#site-nav .dropdown-menu.navmenu-nav li a:hover {
  border-width: 0;
}
#site-nav .navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
@media screen and (max-width: 991px) {
  #site-nav .company-logo {
    width: 100%;
    margin: 0 auto;

    //text-align: center;
    margin-top: 17px;
  }
  #site-nav .company-logo img {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  #site-nav .company-logo img {
    width: 265px;
  }
  #site-nav .company-logo {
    width: 80%;
    text-align: left;
  }
}
#site-nav .navbar-toggle {
  border: none;
  background: transparent !important;
}
#site-nav .navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
#site-nav .navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
#site-nav .navbar-toggle .middle-bar {
  opacity: 0;
}
#site-nav .navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
#site-nav .navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
#site-nav .navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
#site-nav .navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-brand {
  font-size: 17px;
}
